delete from offerte;
delete from zaimu;
delete from membri_gerarchica;
INSERT INTO membri_gerarchica  
select
rtrim(convert(varchar(20), codice_membro))+cod_dip,
rtrim(convert(varchar(20), cod_fam))+dip_fam,
rtrim(cognome),
rtrim(nome),
rtrim(citta_nas),
prov_nas,
data_nas,
cod_nazione,
"",
cod_div,
rtrim(ind_dom),
cap_dom,
cod_com,
cod_prof,
rtrim(pres_da),
data_cer,
rtrim(luogo_cer),
cod_att_ist_1,
cod_att_ist_2,
codice_staff,
cod_studio,
flag_goh,
flag_tok,
flag_oma,
flag_er,
flag_dis,
cod_dis,
rtrim(u_insert),
d_insert,
rtrim(u_ult_mod),
d_ult_mod,
dt_attnpa,
dt_noptai,
dt_dectfedim,
rtrim(vc_parent),
'N',
'N'
from membri_copy;